.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: left;
  }
  
.nav {
    background-color: #1E90FF;
    color:#ffffff;
    min-height: 100vh;
}
  
.outlet {
    color: #3333ff;
    min-height: 100vh;
}

ul {
    list-style-type: none;    
}